body {
    font-family: 'Muli', sans-serif;
}

.main-header {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

    .main-header .main-nav {
    }

        .main-header .main-nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            /*display:flex;*/
        }

            .main-header .main-nav ul after {
                clear: both;
                content: ' ';
                overflow: hidden;
                display: block;
            }

            .main-header .main-nav ul li {
                float: left;
            }

                .main-header .main-nav ul li a {
                    display: block;
                    padding: 0;
                    margin: 0 15px;
                    color: #52575d;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 14px;
                }

                    .main-header .main-nav ul li a:hover {
                        color: #f72464;
                    }

    .main-header .shopping-cart {
        position: relative;
        display: inline-block;
        clear: both;
    }

        .main-header .shopping-cart i {
            font-size: 22px;
            color: #52578d;
        }

        .main-header .shopping-cart .item-count {
            position: absolute;
            right: -10px;
            bottom: -10px;
            background-color: #f72464;
            color: #fff;
            font-size: 11px;
            border-radius: 100%;
            padding: 3px 7px;
        }
/*Bootsrap Carousel Control Overrides*/
/*.carousel-control span {
    position:absolute;
    top: 45%;
    left: 20px;
    font-size:40px;
}
.carousel-control.right span {
    right: 20px;
}*/

/*Product wrapper*/
.product-wrapper {
    margin-bottom: 50px;
}

    .product-wrapper header {
        margin: 50px 0;
    }

        .product-wrapper header h4 {
            width: 100%;
            margin: 0 0 10px 0;
            padding: 0;
            text-align: center;
            font-size: 23px;
            font-weight: bold;
        }

    .product-wrapper h5 {
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #919191;
    }

    .product-wrapper .product-item {
        margin-bottom: 50px;
    }

        .product-wrapper .product-item figure img {
            border-radius: 4px;
        }

        .product-wrapper .product-item .name {
            padding: 10px;
            text-align: center;
        }

            .product-wrapper .product-item .name a {
                color: #000000;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
            }

        .product-wrapper .product-item .prices {
            text-align: center;
        }

            .product-wrapper .product-item .prices .price {
                font-size: 18px;
                font-weight: bold;
                color: #f42463;
            }

                .product-wrapper .product-item .prices .price.old {
                    text-decoration: line-through;
                    color: #919191;
                    margin-right: 10px;
                    font-size: 16px;
                }

        .product-wrapper .view-all-products-button {
             border-color: #f72464;
             background-color: transparent; 
        }

.messagebar {
    background: transparent url('http://hd-wall-papers.com/images/wallpapers/blur-images/blur-images-24.jpg') no-repeat center center;
    background-size: 100%;
    /*background-origin: content-box;
    background-clip: content-box;*/
    padding: 35px 0;
}

    .messagebar .title {
        font-size: 26px;
        font-weight: bold;
        color: #fff;
    }

    .messagebar .btn {
        background-color: #f72464;
        color: #fff;
        border: 0px none;
        padding: 10px 7px;
        font-size: 16px;
        font-weight: bold;
    }
