<header class="main-header">
    <div class="container">
        <div class="row">
            <!--Col sayısını default olarak 12ye tamamlamak zorundayım-->
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img src="~/images/logo.jpg" class="logo" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
               <nav class="main-nav">
                   <ul>
                       <li><a href="#">Bilgisayarlar</a></li>
                       <li><a href="#">Telefonlar</a></li>
                       <li><a href="#">Kitaplar</a></li>
                       <li><a href="#">Beyaz Eşyalar</a></li>
                       <li><a href="#">Mobilyalar</a></li>
                   </ul>
               </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="shopping-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="item-count">5</span>
                </div>
            </div>
        </div>
    </div>
</header>