<div class="product-wrapper homepage">
    <div class="container">
        <header>
            <h4>Çok Satanlar</h4>
            <h5>Bu ürünler sizin için özenle seçildi.</h5>
        </header>
        <div class="row">
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive"/>
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img alt="pic1" src="https://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Güzel bir ürün, güzel bir gün!</a>
                    </section>
                    <section class="prices">
                        <span class="price old">₺150</span>
                        <span class="price">₺75</span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
