<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Commerce.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.slim.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/respond.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <header class="main-header">
            <div class="container">
                <div class="row">
                    <!--Col sayısını default olarak 12ye tamamlamak zorundayım-->
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img src="~/images/logo.jpg" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        DENEME DENEME DENEME
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <i class="fa fa-shopping-cart">

                        </i>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>
